{%extends 'layout.html'%}
{%block title%}
A teenager's Prayer
{%endblock title%}
{%block importFiles%}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/teenager_prayer.css') }}">
{%endblock importFiles%}

{%block content%}
<div>
    <div class="youtube_video">
        <iframe src="https://www.youtube.com/embed/WcjX6h65sNM" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <hr />
    <div class="course_material">
        <p class="text-center h3 heading">
            <strong>Course Material</strong>
        </p>
        <span> Will be uploaded soon. </span>
    </div>
    <hr />
    <div class="tests">
        <p class="text-center h3 heading" >
            <strong>Take a test</strong>
        </p>
        <span> No tests available right now. </span>
    </div>
    <hr />
    <div class="homework">
        <p class="text-center h3 heading">
            <strong>Homework</strong>
        </p>
        <span>No homework currently assigned, but it will be assigned soon.</span>
    </div>
</div>

{%endblock content%}