{% extends 'chapter_layout.html' %}
{% block title %}
A teenager's Prayer
{% endblock title %}
{% block importFiles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/teenager_prayer.css') }}">
{% endblock importFiles %}

{%  block content  %}
{{super()}}
{% endblock content %}

{% block course_material %}
No course material right now
{% endblock course_material %}

{% block homework %}
<div>Homework will be given later</div>
{% endblock homework %}

{% block test  %}
<div> Not now </div>
{% endblock test  %}