.youtube_video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.youtube_video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    /* color: #333; old IE */
    /* background-color: #333; Modern Browsers */
}
.heading {
    color: #5991eb;
}