.youtube_video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.youtube_video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}